.footer-container-right-part {
    text-align: end;   
}

.footer-container {
    display: flex;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    border-top: 1px solid #565656;
    @media (max-width:576px){  
        flex-direction: column;
        align-items: center;
        justify-content: center;
    } 
}

.footer-container span {`
    font-family: "Open Sans";
    font-size: 0.66em;
    line-height: 1em;
    text-transform: none;
}