.container {
    background-color: #fff;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.top-level-lg-plus {
    @media (max-width:992px) {
        display: none;
    }
}

.top-level {
    justify-content: space-between;
    align-items: center;
}




.top-level-left {
    a:not(:last-child){
        margin-right: 20px;
        
    }
    a {
        color: #323232;
    }
}

.top-level-left a {
    &:hover {
        color:#93B474;
    }
}

.top-level-mid {
    p {
        color:#337D5A;
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 0.875em;
        text-align: center;
    }
}

.top-level-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.top-level-right-nav-link,
.top-level-right-lang-select {
    color:#323232;
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 0.8125em;

}


#form-select1 {
    
    background-image: url('images/arrow.png');
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 14px 10px;
    font-family: 'Raleway';
    font-weight: 500;
    color: #323232;
    border: 1px solid #fff;
    width: auto;
}

.top-level-right-user-icon {
    color: #93B474;
    margin-right: 5px;
}

.mid-level-left {
    display: flex;
    align-items: center;
}

.mid-level-left-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-transform: uppercase;
    color: #1A2F3F;
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 0.94em;
    line-height: 1.1em;
    margin-left: 5px;
}

.mid-level-mid {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mid-level-mid-tel {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    a{
        text-decoration: none;
        color: #337D5A;
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 0.8125em;
        line-height: 0.99em;
    }
}

.mid-level-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.mid-level-right-bag {
    display: inline-block;
    width: 25px;
    height: 25px;
    text-align: center;
    position: relative;
    margin-right: 35px;
    
}

#bag {
    color: #337D5A;  
    
}

.mid-level-right-bag-ellipse {
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #93B474;
    top: 0;
    right: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.mid-level-right-bag-ellipse-number{
    color: #fff;
    font-size: 10px;
}

.mid-level-right-button {
    display: inline-block;
    padding: 15px;
    color: #fff;
    background-color: #337D5A;
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 0.8125em;
    line-height: 1em;
    margin-right: 10px;
    text-align: center;
    
}

.mid-level-right-text {
    color: #8A8A8A;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 0.75em;
    line-height: 0.91em;
    white-space: wrap;
}

.mid-level-right-text-box {
  
    margin-right: 35px;
}

.bottom-level-nav {
    margin: 0 auto;
}

.header-nav-link {
    color: #1A2F3F;
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 0.94em;
    line-height: 1.1em;
    text-align: start;
}

.header-nav-link-no-wrap {
    white-space: nowrap;
}


#header-navbar-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.navbar-light .navbar-toggler-icon {
    background-image: url('images/burger_icon.png');
}

.navbar-toggler1._none .header-navbar-toggler-icon-cross {
    background-image: url('images/icon_cross.png');
}

.navbar-toggler-focus:focus {
    
    box-shadow: 0 0 0 0; 
}

.navbar-toggler2 {
    display: none;
}

.top-level-mobile {
    align-items: center;
}

.top-level-mobile-right {
    display: flex;
    justify-content: flex-end;
}

.top-level-mobile-mid {
    text-align: center;
}

.top-level-mobile-tel{
    align-items: center;
    display: flex;
}

.mobile-tel-icon {
    color: #337D5A;
}

.top-level-mobile-tel-link {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 0.75em;
    line-height: 0.91em;
    color: #000;
    margin-left: 10px;
}

.top-level-mobile-tel-link span {
    color: #337D5A;
}

.top-level-mobile-mid-call-back {
    color: #337D5A;
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 0.8125em;
    line-height: 0.954em;
}
