
.video-box {
    position: relative;
    padding: 0;
}

.video-box img {
    object-fit: cover;
}

.video-box-play-icon {
    width: 10%;
    margin-bottom: 20px;
    @media (max-width:576px) {
        width: 7%;
    }
}

#playBtn,
#playBtn1,
#playBtn2,
#playBtn3, {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
   
}

#video-box-text-wide {
    padding: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%) ;
    color: #fff;
    font-family: 'Raleway';
    h3 {
        font-weight: 800;
        font-size: 3.88em;
        line-height: 2.55em;
        margin-bottom: 10px;
        @media (max-width:1200px) {
            font-size: 1.8em;
        }
        @media (max-width:768px) {
            margin-bottom: 0;
        }
        @media (max-width:468px) {
            font-size: 1.3em;
        }
    }
    p {
        font-weight: 600;
        font-size: 1.56em;
        line-height: 1.83em;
        text-align: center;
        margin-bottom: 30px;
        max-width: 522px;
        @media (max-width:1200px) {
            font-size: 1.2em;
        }
        @media (max-width:768px) {
            font-size: 1em;
        }
        @media (max-width:576px) {
            font-size: 0.8em;
        }
        @media (max-width:430px) {
            margin-bottom: 10px;
        }
    }

}

.video-box-text._none,
.video-box-text1._none1,
.video-box-text2._none2,
.video-box-text3._none3, {
    visibility: hidden;
}

.gallery-text-top-left {
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 0.875em;
    color: #fff;
    z-index: 3;
    display: flex;
    position: absolute;
    top: 12%;
    left: 21%;
    @media (max-width:992px) {
        display: none;
    }
}

.container-img-box2 {
    margin-top: -18px;
   
}






