
.video-box {
    position: relative;
    padding: 0;
}

.video-box img {
    object-fit: cover;
}

.video-box-play-icon {
    width: 20%;
    margin-bottom: 20px;
}

#playBtn,
#playBtn1,
#playBtn2,
#playBtn3, {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
   
}

#video-box-text-wide
 {
    padding: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%) ;
    color: #fff;
    font-family: 'Montserrat';
    h3 {
        font-weight: 800;
        font-size: 1.375em;
        line-height: 1.68em;
        margin-bottom: 10px;
        @media (max-width:468px) {
            font-size: 0.8em;
        }
    }
    p {
        font-weight: 600;
        font-size: 0.875em;
        line-height: 1.31em;
        text-align: center;
        @media (max-width:768px) {
            font-size: 0.7em;
        }
        @media (max-width:576px) {
            font-size: 0.5em;
        }
    }

}

.video-box-text._none,
.video-box-text1._none1,
.video-box-text2._none2,
.video-box-text3._none3, {
    visibility: hidden;
}






