
.slider2 {
    z-index: 0;
}
.swiper-wrapper2 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.slider-container {
    min-width: 0;
    overflow: hidden;
    
}

.slider-container-fluid {
    margin-left: 6%;
}

.slide-img {
    width: 100%;
}

.img-container{
    
    position: relative;
    opacity: 0.5;   
}

.slider-mask1 {
    position: absolute;
    bottom:15%;
    left: 5%;
    transform: rotate(90deg);
    z-index: 5;
}

.slider-mask2 {
    position: absolute;
    top: 5%;
    left: 10%;
    z-index: 5;
}



.img-container {
    position: relative;
}

.slide-img-magnifier {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
}

.slider-slide {
    &:hover .slider-mask{
        display: none;
    }
}

.img-container{
    &:hover {
        opacity: 1;
    }
}

.img-container{
    &:hover .slide-img-magnifier {
        z-index: 1;
    }
}








