.section-maecenas {
    padding-bottom: 60px;
}

.section-maecenas-title-box {
    display: flex;
    justify-content: center;
}

.section-maecenas-title-1 {
    color: #D1A954;
    margin-right: 10px;
    font-size: 2.67em;
    font-weight: 300;
    line-height: 3.52em;
    letter-spacing: 2px;
}

.section-maecenas-title-2 {
    font-size: 2.67em;
    font-weight: 300;
    line-height: 3.52em;
    letter-spacing: 2px;
}

.section-maecenas-main-part-container {
    margin: 0 auto;
    display: flex;
    @media (max-width:992px){  
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
    } 

}

.section-maecenas-text-box {
    @media (max-width:992px){  
        display: flex;
        justify-content: space-between;
    } 
    
}

.section-maecenas-tel-box {
    display: flex;
    flex-direction: column;
}

.section-maecenas-address-box {
    display: flex;
    flex-direction: column;
}

.section-maecenas-right-part-table-box {
    @media (max-width:992px){  
        order: -1;
    } 
}

.section-maecenas-form-box {
    display: flex;
    justify-content: space-between;
    @media (max-width:767px){  
        flex-direction: column;
    } 
}

.section-maecenas-statement-btn-box {
    display: flex;
    justify-content: space-between;
    @media (max-width:992px){  
        margin-bottom: 30px;
    } 

    @media (max-width:768px){  
        flex-direction: column;
        align-items: center;
    } 
}

.form-flex-item {
    display: flex;
    justify-content: space-between;
}

.form-item {
    background-color: #444444;
    border: 1px solid #616161;
    color: #757575;
    margin-bottom: 30px;
}

.section-maecenas-statement-btn-box span {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 0.66em;
    line-height: 1em;
    color:#989898;
    text-transform: none;
}

.section-maecenas-btn {
   
    color: #fff;
    background-color: #D1A954;
    letter-spacing: 2px;
    max-width: 190px;
    &:hover {
        color: blue;
    }
    @media (max-width:769px){  
        order: -1;
        margin-bottom: 30px;
        min-width: 100px;
    } 
    
}

.section-maecenas-text-box {
    a {
        color: #fff;
        font-size: 0.8em;
        line-height: 1.21em;

    } 
}

.section-maecenas-text-box a:not(:last-child) {
    margin-bottom: 15px;
}

.section-maecenas-tel-box {
    margin-bottom: 15px;
}

.textarea {
    resize: none;
    @media (max-width:768px){  
        height: 100px;
    } 

}
